name: release-approve

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  promote-release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    
    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Pull RC Image
      run: docker pull ${{ secrets.DOCKERHUB_USERNAME }}/simple-todo-app:1.0.0-RC1

    - name: Retag Image
      run: docker tag ${{ secrets.DOCKERHUB_USERNAME }}/simple-todo-app:1.0.0-RC1 ${{ secrets.DOCKERHUB_USERNAME }}/simple-todo-app:1.0.0

    - name: Push Release Image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/simple-todo-app:1.0.0

    - name: Create Git Tag
      uses: mathieudutour/github-tag-action@v6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag: "1.0.0"
        tag_prefix: "v"
